{
margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav{font-family: monospace;;}
.topnav {
  overflow: hidden;
  background-color: #B22222;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FFFAF0;
  color: black;
}

h1{font-family: monospace;;}
h1{margin-left: 500px;}
h1{font-size: 50px;}
p{margin-left: 50px;}
p{font-family: monospace;;}
ul{margin-left: 60px;}
ul{font-family: monospace;;}
ul{font-size: 20px;}
p{font-size: 25px;}
body{background: linear-gradient(to left, #F5F5DC, #FFFFFF);}
img{margin-left: 10px;}


img {
  width: 100px;
  height: 100px;
  position: absolute;
  animation: mymove 6s infinite;
}

@keyframes mymove {
  from {left: 1px;}
  to {left: 2000px;}
}
