body {background: linear-gradient(to right, #FFE4E1, #FFFFFF);}
img {max-height: 100%;width: auto}
img {max-height: 100%;width: auto}



ul{color: black}
li1 {color: black;margin-left: 50px;font-size: 30px;}
li2 {color: black;margin-left: 50px;font-size: 30px;}
li3 {color: black;margin-left: 50px;font-size: 30px;}
img {margin-left: 600px;}



{
margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav{font-family:monospace;}
.topnav {
  overflow: hidden;
  background-color: #B22222;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FFFAF0;
  color: black;
}


h1 {font-family:monospace}
h1 {color: black;margin-left: 200px;}
h1 {font-size: 50px;}
h1 {
  width: 1000px;
  height: 1000px;
  position: absolute;
  animation: mymove 6s infinite;
}

@keyframes mymove {
  from {left: 1px;}
  to {left: 800px;}
}

img {
  width: 300px;
  height: 400px;
  position: absolute;
  animation: mymove2 5s infinite;
}

@keyframes mymove2 {
  from {right: 100px;}
  to {right: 1000px;}
}

p{font-family:monospace;}
p{color: grey;margin-left: 100px; font-size: 25px; margin-top: 100px;}
